@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Parisienne&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(26, 25, 25);
}
/* ........this is for all section.......*/
.first-color {
  color: rgb(255, 255, 255);
}
.second-color {
  color: rgba(120, 120, 120, 0);
}
.third-color {
  background-color: rgb(39, 27, 20);
}
.gray {
  color: gray;
}
/*..... main div 1 section .......*/
.main-div-one {
  background: rgb(26, 25, 25);
  max-width: 1250px;
  margin: 0 auto;
}
/* ...............header section starts .............*/
/*............ nav section ..........*/
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
.head-tittle {
  color: rgb(255, 94, 0);
  font-size: 2.5rem;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-radius: 15px;
  padding: 2px;
}
.nav-links .btn {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background: rgb(26, 25, 25);
}
.btn1 {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 94, 0);
  padding: 5px 10px;
  border: none;
  border-radius: 30px;
}
/* .............banner section .............*/

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
  width: full;
  height: 700px;
}
.banner-text-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  width: 50%;
}
.banner-contents-part {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.banner-tittle {
  color: white;
  font-size: 4.3rem;
  font-weight: 800;
  width: 100%;
  margin-bottom: 15px;
}

.style-shape {
  font-family: "Parisienne", cursive;
  font-weight: 300;
  font-style: italic;
}
.banner-btn {
  display: flex;
  gap: 20px;
}
.join {
  padding: 10px 15px;
  font-weight: 300;
  font-size: 1.2rem;
  border: none;
  border-radius: 30px;
  background-color: rgb(255, 94, 0);
}
.download {
  padding: 10px 15px;
  font-weight: 300;
  font-size: 1.2rem;
  border: 1px solid #ffffff70;
  border-radius: 30px;
  background: rgb(26, 25, 25);
}

/*...... banner img ........*/
.banner-img {
  width: 50%;
}
.banner-img img {
  margin-top: 130px;
}
.video {
  padding: 18px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0.7;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 210px;
  position: relative;
  bottom: 120px;
  right: 100px;
  border-radius: 13px;
}

.n {
  font-size: 2em;
  color: rgb(255, 255, 255);
}
.v {
  color: rgb(202, 198, 198);
  font-size: 0.8rem;
}
.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: red;
}
.workout {
  padding: 15px 15px 15px 25px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0.7;
  backdrop-filter: blur(20px);
  width: 210px;
  position: relative;
  left: 230px;
  bottom: 530px;
  display: flex;
  justify-content: center;
  align-items: start;

  flex-direction: column;
}

.menu {
  display: none;
}

.p {
  display: none;
}
.join2 {
  display: none;
}

/*............... Habit ...............*/

.habit-heading {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  margin-top: 100px;
}
.habit-des {
  font-size: 1rem;
  text-align: center;
  color: gray;
  width: 65%;
  margin: 20px auto;
  margin-bottom: 20px;
  line-height: 20px;
}
.img-tittle {
  color: white;
  font-size: 1.5rem;
}
.img-des {
  color: gray;
  font-size: 1rem;
  line-height: 20px;
}
.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  padding: 10px;
  padding-top: 40px;
}
.main-img {
  border-radius: 50%;
}

/*.......... run extra ...........*/
.main-run {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  background-color: rgba(34, 34, 34, 1);
  width: 95%;
  margin: 80px auto;
  border-radius: 10px;
  margin-top: 100px;
}
.text-btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  width: 60%;
}
.text-btn-container h1 {
  color: white;
  font-size: 2.5rem;
}
.text-btn-container p {
  color: gray;
  font-size: 1rem;
  line-height: 20px;
}
.img-container {
  width: 350px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.run-des {
  width: 80%;
  line-height: 25px;
}
.img-container img {
  height: auto;
  position: absolute;
  top: 70%;
  left: 13%;
  transform: translate(-50%, -50%) scale(3.5);
  width: 80%;
}
.joining {
  padding: 10px 50px;
  font-weight: 300;
  font-size: 1.2rem;
  border: none;
  border-radius: 30px;
  background-color: rgb(255, 94, 0);
}

/*......... section of exercise benefitsd starts here ..........*/
.benefits-main-container {
  padding: 5px;
  background-color: rgba(34, 34, 34, 1);
  border-radius: 10px;
}
.benefits-headings-items {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  line-height: 20px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.benefits-main-heading {
  color: white;
  font-size: 2.5rem;
}
.benefits-main-description {
  color: gray;
  font-size: 1rem;
  line-height: 20px;
}
.benefits-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.benefits-container-1,
.benefits-container-2,
.benefits-container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.benefits-contents {
  width: 65%;
  gap: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.benefits-img1 {
  background-image: url(../images/ajaj-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
  width: 400px;
  border-radius: 7px;
}

.benefits-heading {
  color: white;
  font-size: 1.7rem;
}
.benefits-description {
  color: gray;
  font-size: 1rem;
  line-height: 20px;
}

.benefits-img2 {
  background-image: url(../images/ajaj-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  height: 320px;
  width: 400px;
}

.benefits-img3 {
  background-image: url(../images/ajaj-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  height: 320px;
  width: 400px;
}

/* section of exercise benefitsd ends here */

/*.......... Bmi............ */
/*........... bmi-calculator ..............*/
.bmi-calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.bmi-heading-contents {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 25px;
  padding: 5px 5px 30px 5px;
}
.bmi-main-heading {
  color: white;
  font-size: 2.5rem;
}
.bmi-main-des {
  color: gray;
  font-size: 1rem;
  line-height: 20px;
}
.bmi-main {
  background-color: rgba(34, 34, 34, 1);
  width: 100%;
  /* height: 320px; */
}
.bmi-content {
  max-width: 1250px;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding: 15px;
}

.table {
  margin: 20px 0px;
  width: 70%;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  border: 1px solid gray;
  text-align: left;
}
th {
  color: white;
}
td {
  color: rgb(198, 188, 188);
  font-size: 0.9rem;
}

.bmi-h {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}
.pi {
  font-size: 1rem;
  color: gray;
  line-height: 20px;
}

.ch-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.m-ch input {
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
}

.m-ch2 {
  position: relative;
  display: inline-block;
}

.m-ch2 input {
  padding: 10px 30px 10px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  border: none;
  width: 100%;
  pointer-events: none;
}

.m-ch2 .fa-chevron-down {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #c9c9c9ab;
}

.m-ch1 {
  position: relative;
  display: inline-block;
}
.m-ch1 input {
  padding: 10px 30px 10px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  border: none;
  pointer-events: none;
}
.m-ch1 .fa-chevron-down {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #c9c9c9ab;
  pointer-events: none;
}

.mm-ch {
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-bottom: 30px;
}

.last {
  display: grid;
  grid-column: span 2;
}
.calculate-btn {
  padding: 10px 25px;
  font-weight: 300;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: rgb(255, 94, 0);
}

/* section */
/* ...............meet team .............*/
.meet-team {
  margin-top: 100px;
}
.tittle-and-des {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 30px;
  width: 90%;
  margin: 0 auto;
}
.team-tittle {
  font-size: 2.5rem;
}
.team-des {
  font-size: 1rem;
  line-height: 20px;
  color: gray;
  padding: 10px;
}
.team-imgs-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-imgs {
  background-color: rgba(34, 34, 34, 1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
}

.team-img-one,
.team-img-two,
.team-img-three,
.team-img-four,
.team-img-five,
.team-img-six {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 300px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
}
.team-img-one {
  background-image: url(../images/trainer1.png);
}
.team-img-two {
  background-image: url(../images/trainer2.png);
}
.team-img-three {
  background-image: url(../images/trainer3.png);
}
.team-img-four {
  background-image: url(../images/trainer4.png);
}
.team-img-five {
  background-image: url(../images/trainer5.png);
}
.team-img-six {
  background-image: url(../images/trainer6.png);
}

/*.............. this is footer part ............*/
footer {
  margin-top: 100px;
}
footer,
.main-foot-div,
.copyright {
  background-color: rgba(30, 30, 28, 1);
}
.weight {
  font-weight: normal;
}
.font {
  font-size: 1.7rem;
}
.main-foot-div {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 60px 60px;
}
.div-fit {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 30%;
}
.foot-head-tittle {
  color: rgb(255, 94, 0);
}
.div-start {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.div-start ul li {
  color: gray;
  font-size: 1rem;
}
.div-get-start {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.div-get-start ul li {
  color: gray;
  font-size: 1rem;
}
.div-start ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.div-get-start ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.div-start ul li {
  list-style: none;
}
.div-get-start ul li {
  list-style: none;
}

.copyright {
  border-top: 1px solid rgba(115, 108, 108, 0.46);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
}
.copyright h3 {
  color: gray;
  font-size: 0.9rem;
}

/* ............responsive part ..............*/
/* ..........Responsive mobile......... */
@media screen and (max-width: 576px) {
  .main-nav {
    width: full;
  }
  .nav-links {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu i {
    color: white;
  }

  /* ............Banner........ */

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px;
    width: full;
    height: 1200px;
    padding: 10px 0px;
  }
  .banner-contents-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: full;
    margin-top: 10px;
  }
  .banner-text-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
  }
  .banner-img {
    width: 90%;
  }
  .banner-img img {
    margin-top: 30px;
    width: 100%;
  }
  .video {
    padding: 9px 4px;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0.7;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 210px;
    position: relative;
    bottom: 46%;
    left: 2%;
    border-radius: 13px;
  }

  .v {
    font-size: 0.8rem;
  }
  .p {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    padding-top: 12px;
  }
  .workout {
    padding: 15px 15px 15px 25px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0.7;
    backdrop-filter: blur(20px);
    width: 140px;
    position: relative;
    left: 55%;
    font-weight: 800;

    bottom: 80%;
    display: flex;
    justify-content: center;
    align-items: start;

    flex-direction: column;
  }

  .banner-tittle {
    color: white;
    font-size: 2.7rem;
    font-weight: 800;
    line-height: 0.8;
  }
  .style-shape {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: italic;
  }
  .b-title {
    padding: 10px 80px 10px 4px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 180%;
    line-height: 20px;
    margin-top: 160px;
  }
  .banner-description {
    color: gray;
  }
  .banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: full;
  }

  .join {
    display: none;
  }
  .join2 {
    padding: 12px 12px;
    background-color: rgb(255, 94, 0);
    width: 140px;
    font-weight: 300;
    font-size: 1rem;
    border: none;
    display: block;
    border-radius: 30px;
  }
  .download {
    padding: 10px;
    font-weight: 300;
    font-size: 1rem;
    width: 150px;
    border-radius: 30px;
    background: rgb(26, 25, 25);
    border: 1px solid #ffffff70;
  }

  .b-title .banner-tittle {
    line-height: 40px;
  }

  /* .........Habit........ */
  .main-div {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .main-div-img {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  /* ..........run..........*/
  .main-run {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 20px auto;
  }
  .joining {
    padding: 10px 95px;
  }
  .text-btn-container {
    width: 95%;
  }
  .img-container {
    width: 95%;
  }
  .img-container img {
    height: 60%;
  }
  /* .....section of exercise benefitsd ends here...... */
  .benefits-headings-items {
    padding-bottom: 35px;
  }
  .benefits-headings-items .benefits-main-heading,
  .benefits-main-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 20px;
  }
  .benefits-container-1,
  .benefits-container-2,
  .benefits-container-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .benefits-contents {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .text {
    text-align: center;
  }

  .benefits-img1,
  .benefits-img2,
  .benefits-img3 {
    height: 280px;
    width: 320px;
  }
  /*........... bmi-calculator ...........*/
  .bmi-calculator {
    margin-top: 100px;
  }
  .bmi-content {
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 70px;
  }
  .bmi-calulating {
    padding: 5px;
  }
  /* ...... meet team ....... */
  .meet-team {
    margin-top: 70px;
  }

  .team-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .team-img-four {
    display: none;
  }
  /*......... footer part starts ......*/
  footer {
    padding: 20px;
    margin-top: 45px;
  }
  .main-foot-div {
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
  }
  .div-fit {
    width: auto;
  }
}
